*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --deafault_color:linear-gradient(270deg, rgba(255, 90, 0, 1) 0%, rgba(255, 54, 0, 1) 100%);
}
.header{
    width: 100%;   
}
.header_container{
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}
.menu ul{
    display: flex;
}
.menu ul li{
    padding: 0px 20px;
}
.menu ul li a{
    color: black;
    font-size: 20px;
}
.menu ul li a::after{
    content: '';
    display: none;
    width: 100%;
    border-bottom: 3px solid orangered;
}
.menu ul li a:hover::after{
    display: block;
    height: 35px;
}
.banner{
    height: 250px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url('images/causes-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner_container{
    width: 80%;
    margin: auto;
    color: white;
    font-size: 34px;
    padding-top: 5%;
    font-weight: 600;
}
.banner_container h1::after{
    content: '';
    border-bottom: 4px solid orangered;
    width: 8%;
    display: block;
    padding-top: 20px;
}

.features_causes{
    height: 800px;
    width: 100%;
}
.features{
    height: 750px;
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features h1::after{
    content: '';
    display: block;
    width: 10%;
    border-bottom: 4px solid orangered;
    padding-top: 20px;
}
.features h1{
    font-size: 35px;
}

.content h3{
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
.content h6{
    padding: 12px 0px;
    font-size: 13px;
    position: relative;
}
.content p{
    padding: 12px 0px;
}
.content .btn{
    color: orangered;
}
.content  h6::after{
    content: '';
    border-bottom: 1px solid black;
    display: none;
    width: 50%;
}
.content h6:hover::after{
    display: block;
    position: relative;
}
.content  h3::after{
    content: '';
    border-bottom: 1px solid black;
    display: none;
    width: 50%;
}
.content h3:hover::after{
    display: block;
    position: relative;
}
.causes{
    height: 700px;
    width: 50%;
    padding: 10px;
}
.causes1{
    height: 700px;
    width: 50%;
    padding: 10px;
    margin-top: 10.8%;
}
.features_image{
    height: 550px;
    width: 100%;
    margin: auto;
    margin-top: 10%;
    background-color: #edf3f5;
    display: flex;
    flex-wrap: wrap;
}
.features_image .image{
    width: 50%;
}
.features_image .image img{
    margin:30px 20px;
}
.features_image .content{
    padding: 40px 10px;
    height: 350px;
    width: 50%;
}
.features_image .content p{
    font-size: 20px;
    padding-right: 10px;
    color: #929191;
}
.btn button{
    padding: 18px 40px;
    border-radius: 25px;
    background: var(--deafault_color);
    border: none;
    color: white;
    font-size: 15px;
}
.features_image .btn{
    margin-top: 17%;
}
.range{
    width: 100%;
    height: 30px;
    position: relative;
}
.line1{
    height: 6px;
    width: 73%;
    margin-left: 20px;
    background: var(--deafault_color);
    margin-top: 12px;
    display: inline-block;
    border-radius: 30px;
}
.line2{
    height: 6px;
    width: 17%;
    margin-left: 20px;
    background: #929191;
    display: inline-block;
    border-radius: 30px;
}
.circle{
    width: 40px;
    height: 40px;
    background: var(--deafault_color);
    text-align: center;
    position: absolute;
    left: 75%;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}
.goal{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: -40px;
    justify-content: space-between;
    color: #929191;
}
.container{
    background-color: aqua;
}

.our_causes{
    width: 100%;
    height: 600px;
    display: flex;
}
.causes-container{
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.children{
    height: 500px;
    width: 30%;
    background-color: #fff;
} 
.children .contents{
    padding: 30px;
}
.children .image{
    height: 200px;
}
.children .image img{
    height: 100%;
    width: 100%;
}
.contents .range{
    width: 100%;
    height: 30px;
    position: relative;
    margin-top: 20px;
}
.contents .line1{
    height: 6px;
    width: 73%;
    margin-left: 0px;
    background: var(--deafault_color);
    margin-top: 12px;
    display: inline-block;
    border-radius: 30px;
}
.contents .line2{
    height: 6px;
    width: 17%;
    margin-left: 20px;
    background: #929191;
    display: inline-block;
    border-radius: 30px;
}
.contents .circle{
    width: 40px;
    height: 40px;
    background: var(--deafault_color);
    text-align: center;
    position: absolute;
    left: 70%;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}
.contents h3{
    padding: 20px 0px;
}
.contents p{
    color: #929191;
}
.contents .goal{
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: #929191;
}
.contents  h3::after{
    content: '';
    border-bottom: 1px solid black;
    display: none;
    width: 65%;
}
.contents h3:hover::after{
    display: block;
    position: relative;
}

.contents .range{
    width: 100%;
    height: 30px;
    position: relative;
    margin-top: 20px;
}
.contents .lines{
    height: 6px;
    width: 60%;
    margin-left: 0px;
    background: var(--deafault_color);
    margin-top: 12px;
    display: inline-block;
    border-radius: 30px;
}
.contents .line{
    height: 6px;
    width: 30%;
    margin-left: 20px;
    background: #929191;
    display: inline-block;
    border-radius: 30px;
}
.contents .circles{
    width: 40px;
    height: 40px;
    background: var(--deafault_color);
    text-align: center;
    position: absolute;
    left: 58%;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

.main{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}
.main-container{
    height: 650px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text{
    width: 45%;
    height: 600px;
    padding: 30px 20px;
}
.text h1{
    font-size: 36px;
    padding: 0px 0px;
    padding-bottom: 20px;
}
.text h1::after{
    content: '';
    display: block;
    width: 10%;
    border-bottom: 4px solid orangered;
    padding-top: 30px;
}
.text  p{
    font-size: 18px;
    padding: 20px 0px;
    color: #929191;
}
.text2{
    width: 45%;
    height: 600px;
    padding: 30px 60px;
}
.text2 img{
    width: 100%;
    height: 100%;
}
.text .range{
    width: 100%;
    height: 30px;
    position: relative;
    margin-top: 20px;
}
.line_1{
    height: 6px;
    width: 73%;
    margin-left: 0px;
    background: var(--deafault_color);
    margin-top: 12px;
    display: inline-block;
    border-radius: 30px;
}
.line_2{
    height: 6px;
    width: 17%;
    margin-left: 20px;
    background: #929191;
    display: inline-block;
    border-radius: 30px;
}
 .circle1{
    width: 40px;
    height: 40px;
    background: var(--deafault_color);
    text-align: center;
    position: absolute;
    left: 72%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}
.text .goal{
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    color: #929191;
}
.text button{
    margin-top: 40px;
}
.footer{
    background-image: linear-gradient(rgba(0, 0, 0, 10),rgba(0, 0, 0, 0.8)),url(images/foot-bg.webp);
    width: 100%;
    height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_container{
    height: 500px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}
.foot-menu1{
    height: 400px;
    width: 30%;
}
.foot-menu2{
    height: 400px;
    width: 30%;
    padding: 20px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.foot-logo{
    width: 80%;
    margin: auto;
    margin-top: 10%;
}
.foot-logo img{
    width: 80%;
}
.foot-content{
    padding: 30px 30px;
    font-size: 18px;
    color: #929191;
    font-weight: 500;
}
.media .icons{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.media .icons li{
    padding: 20px 30px 20px 0px;
}
.media .icons li a{
    color: white;
}
.media .icons li a:hover{
    color: orangered;
}
.footlist{
    margin-top: 4%;
}
.links{
    margin-top: 20px;
}
.footlist li{
    padding: 5px 0px;
}
.footlist li a {
    color: #929191;
    font-weight: 550;
}
.footlist li a:hover{
    color: orangered;
}
.foot{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px 20px;
}
.foot .footlist1{
    margin-top: 4%;
}
.news{
    margin-top: 10px;
}
.news li{
    padding: 15px 0px;
}
.news li h3{
    color: orangered;
    font-size: 12px;
}
.contact{
    margin-top: 5%;
}
.contact li{
    padding: 10px 0px;
}
.contact li a i{
    color: orangered;
    padding-right: 10px;
}
.contact span{

    color: #929191;
}
input{
    height: 35px;
    width: 90%;
    padding-left: 10px;
}
.send button{
    padding: 0px 20px;
    height: 35px;
    position: relative;
    left: 58.8%;
    bottom: 35px;
    background: var(--deafault_color);
    color: white;
    border: none;
}
.footer-bar{
    background-color: #131212;
    padding: 30px 0;
    font-size: 12px;
    color: #7b7b7b;
    text-align: center;
    font-size: 12px;
}