*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --deafault_color:linear-gradient(270deg, rgba(255, 90, 0, 1) 0%, rgba(255, 54, 0, 1) 100%);
}
.header{
    width: 100%;   
}
.header_container{
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}
.menu ul{
    display: flex;
}
.menu ul li{
    padding: 0px 20px;
}
.menu ul li a{
    color: black;
    font-size: 20px;
}
.menu ul li a::after{
    content: '';
    display: none;
    width: 100%;
    border-bottom: 3px solid orangered;
}
.menu ul li a:hover::after{
    display: block;
    height: 35px;
}
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/portfolio-bg.webp);
    height: 300px;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_container{
    width: 80%;
    margin: auto;
    color: white;
    font-size: 34px;
    padding-top: 5%;
    font-weight: 600;
}
.banner_container h1::after{
    content: '';
    border-bottom: 4px solid orangered;
    width: 8%;
    display: block;
    padding-top: 20px;
}
.gallery{
    width: 100%;
    height: auto;

}
.gallery_container{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}
.gallery_container h4{
    padding: 10px 0px;
    color: orangered;
}
.photo1{
    height: 480px;
    width: 350px;
}
.photo1 img{
    height: 450px;
    width: 100%;
}
.photo2{
    height: 330px;
    width: 300px;
}
.photo2 img{
    height: 300px;
    width: 100%;
}
.photo3{
    height: 530px;
    width: 450px;
}
.photo3 img{
    height: 500px;
    width: 100%;
}
.photo4{
    height: 480px;
    width: 400px;
    margin-top: 5%;
}
.photo4 img{
    height: 450px;
    width: 100%;
}
.photo5{
    height: 330px;
    width: 300px;
    margin-top: 8%;
}
.photo5 img{
    height: 300px;
    width: 100%;
}
.photo6{
    height: 450px;
    width: 380px;
    margin-top: 8%;
}
.photo6 img{
    height: 480px;
    width: 100%;
}

.photo7{
    height: 430px;
    width: 300px;
    margin-top: 10%;
}
.photo7 img{
    height: 400px;
    width: 100%;
}
.photo8{
    height: 530px;
    width: 550px;
    margin-top: 10%;
}
.photo8 img{
    height: 500px;
    width: 100%;
}
.photo9{
    height: 430px;
    width: 300px;
    margin-top: 10%;
}
.photo9 img{
    height: 400px;
    width: 100%;
}
.gallery_container .text{
    height: 50px;
}
.btn{
    margin: auto;
    display: flex;
    justify-content: center;
}
.btn button{
    padding: 20px 40px;
    text-align: center;
    margin-top: 100px;
     border-radius: 24px;
     color: white;
     background-color: orangered;
     border: none;
}

.footer{
    background-image: linear-gradient(rgba(0, 0, 0, 10),rgba(0, 0, 0, 0.8)),url(images/foot-bg.webp);
    width: 100%;
    height: 500px;
    margin-top: 50px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_container{
    height: 500px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}
.foot-menu1{
    height: 400px;
    width: 30%;
}
.foot-menu2{
    height: 400px;
    width: 30%;
    padding: 20px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.foot-logo{
    width: 80%;
    margin: auto;
    margin-top: 10%;
}
.foot-logo img{
    width: 80%;
}
.foot-content{
    padding: 30px 30px;
    font-size: 18px;
    color: #929191;
    font-weight: 500;
}
.media .icons{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.media .icons li{
    padding: 20px 30px 20px 0px;
}
.media .icons li a{
    color: white;
}
.media .icons li a:hover{
    color: orangered;
}
.footlist{
    margin-top: 4%;
}
.links{
    margin-top: 20px;
}
.footlist li{
    padding: 5px 0px;
}
.footlist li a {
    color: #929191;
    font-weight: 550;
}
.footlist li a:hover{
    color: orangered;
}
.foot{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px 20px;
}
.foot .footlist1{
    margin-top: 4%;
}
.news{
    margin-top: 10px;
}
.news li{
    padding: 15px 0px;
}
.news li h3{
    color: orangered;
    font-size: 12px;
}
.contact{
    margin-top: 5%;
}
.contact li{
    padding: 10px 0px;
}
.contact li a i{
    color: orangered;
    padding-right: 10px;
}
.contact span{

    color: #929191;
}
input{
    height: 35px;
    width: 90%;
    padding-left: 10px;
}
.send button{
    padding: 0px 20px;
    height: 35px;
    position: relative;
    left: 58.8%;
    bottom: 35px;
    background: var(--deafault_color);
    color: white;
    border: none;
}
.footer-bar{
    background-color: #131212;
    padding: 30px 0;
    font-size: 12px;
    color: #7b7b7b;
    text-align: center;
    font-size: 12px;
}